/*
    N A V  +  P A N E L S _.
*/
.navbar {
    background: none;
    position: fixed;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    color: lightgray;
    .scroller {
        color: white;
        opacity: 0.8;
        -webkit-transition: background 0.2s;
        transition: background 0.2s;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
        &:hover {
            opacity: 1;
            text-decoration: none;
        }
        &.scroller.news {
            color: $midnight-purple;
            p, h2 {
                background: $pale-rouge;
            }
        }
        &.scroller.noise {
            color: $pale-rouge;
            p, h2 {
                background: $electric-slime;
            }
        }
        &.scroller.cinema {
            color: $electric-slime;
            p, h2 {
                background: $respectful-ruby;
            }
        }
        &.scroller.photos {
            color: $gamecube-purple;
            p, h2 {
                background: white;
            }
        }
        &.scroller.contact {
            color: white;
            p, h2 {
                background: $respectful-ruby;
            }
        }
    }
    p {
        float: left;
        padding: 0 2px 1px 2px;
        background: black;
        opacity: 0.95;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 1.5rem;-webkit-transition: background 0.2s;
        transition: background 0.2s;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
        &:hover {
            opacity: 1;
        }
    }
    h2 {
        float: right;
        font-size: 3.2rem;
        padding: 0 2px 15px 2px;
        background: black;
        opacity: 0.95;
        margin-top: 10px;
        margin-right: 10px;
        -webkit-transition: background 0.2s;
        transition: background 0.2s;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
        &:hover {
            opacity:1;
        }
    }
    &-fixed-top {
        top: 0;
        border-width: 0 0 1px;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}
  
.material-icons {
    opacity: 0.65;
    -webkit-transition: top 0.2s, opacity 0.2s;
    transition: top 0.2s, opacity 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    &-down, &-up {
        position: absolute;
        z-index: 9;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &-down {
        &:hover {
            top: 50%;
        }
    }
    &-up {
        &:hover {
            top: 30%;
        }
    }
    &:hover {
        opacity: 1;
    }
}
  
#intro .material-icons {
    font-size: 5.5rem;
    color: $midnight-purple;
}
  
#news .material-icons {
    font-size: 5.5rem;
    color: $pale-rouge;
}
  
#noise .material-icons {
    font-size: 5.5rem;
    color: $electric-slime;
}
  
#cinema .material-icons {
    font-size: 5.5rem;
    color: $gamecube-purple;
}
  
#photos .material-icons {
    font-size: 5.5rem;
    color: $white;
}
  
#contact .material-icons {
    font-size: 5.5rem;
    color: $respectful-ruby;
}
  
#contact .material-icons:hover {
    top: 30%;
    opacity: 1;
}
  
.panel {
    position:absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
  
#main {
    background-color: $dark;
    .panel {
        border-radius: 0;
        &:nth-child(6n + 1) {
            background-image: escape_svg($jh_bg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: background-image 1s;
            -webkit-transition: background-image 1s;
            -moz-transition: background-image 1s;
            transition-delay: 1s;
            -webkit-transition-delay: 1s;
            -moz-transition-delay: 1s;
            background-color: $midnight-purple;
        }
        &:nth-child( 6n + 2) {
            background: $midnight-purple;
            color: $black;
            .title {
                color: $pale-rouge;
            }
        }
        &:nth-child( 6n + 3) {
            background: $pale-rouge;
            color: $electric-slime;
        }
        &:nth-child( 6n + 4) {
            background: $electric-slime;
            color: $respectful-ruby;
        }
        &:nth-child( 6n + 5) {
            background: $gamecube-purple;
            color: $white;
        }
        &:nth-child( 6n + 6) {
            margin: 0;
            background: $white;
            color: $respectful-ruby;
            border-bottom: 2px solid $dark;
        }
        .top {
            grid-column: 1 / span 12;
            grid-row: 1 / span 2;
        }
          
        .bottom {
            grid-column: 1 / span 12;
            grid-row: 12 / span 1;
            position: relative;
        }
    }
}

.btn-lg, .btn-group-lg >.btn {
    padding: 10px 16px;
}

.foot {
    text-align: right;
    background-color: inherit;
    margin: 15px 15px 0px 15px;
    padding: 0;
    font-size: 1.2rem;
    @media screen and (max-width: 400px) {
        font-size: 0.9rem;
    }
}