<div class="top">
    <div class="title">
        <h1> say_hi. </h1>
    </div>
</div>
<div class="section1">
    <div class="say_hi">
        <div class="btn-group-vertical" id="say_hi">
            <a class="btn btn-lg" id="spotify-btn" href="https://open.spotify.com/artist/65Yt7ZY6SVtvwGIl60PIX3">spotify.</a>
            <a class="btn btn-lg" id="twitter-btn" href="https://twitter.com/wambamjamham">twitter.</a>
            <a class="btn btn-lg" id="email-btn" href="mailto:jamiehamiltonmusic@live.co.uk">email.</a>
            <a class="btn btn-lg" id="sunbird-btn" href="http://www.sunbirdrecords.co.uk">sunbird records.</a>
        </div>
    </div>
</div>
<div class="subheadL">
    <div class="subtitleL">
    </div>
</div>
<div class="subheadR">
    <div class="subtitleR">
        <h4>back_to ></h4>
    </div>
</div>
<div class="section2">
    <div class="back_to">
        <div class="btn-group-vertical smooth-scroll">
            <a class="btn btn-lg" id="news-btn" href="#news">news.</a>
            <a class="btn btn-lg" id="noise-btn" href="#noise">noises.</a>
            <a class="btn btn-lg" id="videos-btn" href="#cinema">cinema.</a>
            <a class="btn btn-lg" id="photo-btn" href="#photos">poses.</a>
        </div>
    </div>
</div>
<div class="bottom smooth-scroll">
    <a href="#intro">
        <i class="material-icons material-icons-up">keyboard_arrow_up</i>
    </a>
    <div class="foot">
        <p>&copy jamie hamilton_{% now "Y" %}</p>
    </div>
</div>