<div class="top">
    <div class="title">
    </div>
</div>
<div class="hello">
    <div class="hellobox">
        <div class="j">
            <h1>jamie_</h1>
        </div>
        <div class="h">
            <h1>hamilton.</h1>
        </div>
        <div class="hellonav smooth-scroll">
            <a href="#news" class="btn btn-lg" id="move" role="button">news.</a>
            <a href="#noise" class="btn btn-lg" id="move" role="button">noise.</a>
            <a href="#cinema" class="btn btn-lg" id="move" role="button">cinema.</a>
            <a href="#photos" class="btn btn-lg" id="move" role="button">poses.</a>
            <a href="#contact" class="btn btn-lg" id="move" role="button">contact.</a>
        </div>
    </div>
</div>
<div class="bottom smooth-scroll">
    <a href="#news">
      <span class="material-icons  material-icons-down">keyboard_arrow_down</span>
    </a>
</div>