{% load manifest %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    {% block title %}<title>Jamie Hamilton | Music.</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% manifest 'main.js' %}" {% if debug %}defer{% endif %}></script>
    <script src="{% manifest 'vendor.js' %}" {% if debug %}defer{% endif %}></script>
    <script src="{% manifest 'background.js' %}"></script>
    {% block scripts %}{% endblock %}
    {% if not debug %}
    <link rel="stylesheet" href="{% manifest 'main.css' %}" />
    {% endif %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-fixed-top smooth-scroll">
              <a href="#intro" class="scroller"><p>jamie_hamilton.</p></a>
              <a href="#intro" class="scroller"><h2>j_h.</h2></a>
            </nav>
          </header>
        {% block content %}{% endblock %}
    </body>
</html>